.ipynb_checkpoints
.ipynb_checkpoints/
__pycache__
__pycache__/
ScriptJob
ScriptJob/
*.env
.venv
*.lnk
*.pbix
*.vsdx
*.ndjson
*.json
Docs
data_consistence_check
incident_bq-storage-api.csv
o365_token.txt


